<footer class="footer">
  <div class="spinner">
    <div class="scrollup scroll">
      <a href="#top"
        ><img src="./assets/icons/ico-arrow.svg" alt="Volver arriba"
      /></a>
    </div>
  </div>
  <nav class="nav">
    <ul class="menu">
      <li><a class="menu__link" href="#">ARTICLES</a></li>
      <li><a class="menu__link" href="#">BOOKS</a></li>
      <li><a class="menu__link" href="#">EVENTS</a></li>
      <li><a class="menu__link" href="#">REASONSS</a></li>
      <li><a class="menu__link" href="#">TIPS</a></li>
    </ul>
  </nav>

  <div class="sn">
    <ul class="menu">
      <li><a class="menu__link" href="#">TWITTER</a></li>
      <li><a class="menu__link" href="#">INSTAGRAM</a></li>
      <li><a class="menu__link" href="#">MASTODON.SOCIAL</a></li>
    </ul>
  </div>
  <div class="copy">
    <small class="small"> &copy; 2017 </small>
    <small class="small">we <span class="heart">❤</span> components</small>
  </div>
</footer>
