<footer class="footer">
    <div class="scrollup">
        <a href=""><img src="./assets/icons/ico-arrow.svg" alt="Volver arriba"></a>
    </div>
  <nav class="nav">
    <ul class="menu">
      <li><a class="menu__link" href="#">ARTICLES</a></li>
      <li><a class="menu__link" href="#">BOOKS</a></li>
      <li><a class="menu__link" href="#">EVENTS</a></li>
      <li><a class="menu__link" href="#">REASONSS</a></li>
      <li><a class="menu__link" href="#">TIPS</a></li>
    </ul>
  </nav>

  <div class="sn">
    <ul class="menu">
      <li><a class="menu__link" href="#">TWITTER</a></li>
      <li><a class="menu__link" href="#">INSTAGRAM</a></li>
      <li><a class="menu__link" href="#">MASTODON.SOCIAL</a></li>
    </ul>
  </div>
  <div class="copy">
    <small>
      ©2017 <br />
      we ♥ components</small>
  </div>
</footer>
