<article id="content" class="article">
  <small class="pretitle">Insomnia Tips</small>
  <h2 class="article__title">Looking Throught A Window</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel velit laborum
    at, aperiam nostrum excepturi ducimus dolor laboriosam distinctio.
  </p>
  <div class="btn__small">Go</div>
</article>


<div class="grid">
        <h2 class="grid__title">3 Reasons To Purchase</h2>
        <div class="grid__grid">
          <partial src="_option.html" title="Ut set metus" text="Lorem ipsum dolor sit amet consectetur"></partial>
  <partial src="_option.html" title="Curabitur ac erat" text="Mauris mattis urna quis lorem molestie"></partial>
  <partial src="_option.html" title="Morbi dictum" text="Aliquam in dolor et dolor"></partial>
  </div>

  <div class="btn__big">More reasons</div>


</div>

