.btn__small {
  border: solid $color-btn 3px;
  color: $color-btn;
}

.btn__big{
    background: $color-btn;
    color: $color-btn-font;

}

.btn{
  display: inline-block;
  height: 45px;
  padding: 10px 25px;
  border-radius: 1.5625rem;
  font-size: 1.25rem;
  margin: 45px 0;







}