$color-font-hero: #fff;
$color-bg-icons: #fff;
$color-bg-menu: darkblue;
$color-pretitle-article: lightblue;
$color-btn: orange;
$color-bg-grd: lightblue;
$color-btn-font: #fff;
$color-font-footer: #fff;
$color-bg-footer: darkblue;