$color-font-hero: #fff;
$color-bg-icons: #fff;
$color-bg-menu: #0271bc;
$color-pretitle-article: #8ccbea;
$color-btn: #f26002;
$color-bg-grd: #eff9ff;
$color-btn-font: #fff;
$color-font-footer: #fff;
$color-bg-footer: #304268;